
/* HEROPAGES STYLING FOR ALL PAGES */

.hero-pages {
    height: 30rem;
    background-image: url("/src/images/about-page/heropages-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 4rem;
}

.hero-pages__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .92);
}

.hero-pages__text {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: relative;
    height: 41rem;
    justify-content: center;
    color: black;
}

.hero-pages__text h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.hero-pages__text p {
    font-size: 21px;
    font-weight: 500;
}

.hero-pages__text a {
    text-decoration: none;
    transition: all .2s;
    color: black;
}

.hero-pages__text a:hover {
    color: #ff4d30;
}

/* ABOUT PAGE STYLING */

.about-main {
    margin: auto;
    display: flex;
    gap: 5rem;
    max-width: 100%;
    align-items: center;
}

@media screen and (max-width: 1090px) {
    .about-main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 49rem;
    }
}

@media screen and (max-width: 520px) {
    .about-main {
        width: 100%;
    }
}

.about-main-img {
    width: 30rem;
    height: 30rem;
}

@media screen and (max-width: 1090px) {
    .about-main-img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .about-main-img {
        width: 100%;
        height: auto;
    }
}

.about-main-text {
    display: flex;
    flex-direction: column;
}

.about-main-text h3 {
    font-size: 25px;
    font-weight: 500;
}

.about-main-text h2 {
    font-size: 50px;
    margin-top: -.5rem
}

.about-main-text p {
    font-size: 20px;
    color: gray;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.about-main-text-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin: auto;
}

@media screen and (max-width: 520px) {
    .about-main-text-icons {
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 0;
    }
}

.about-main-text-icons-box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 520px) {
    .about-main-text-icons-box {
        align-items: center;
    }
}

.about-main-text-icons-box img {
    width: 5rem;
    margin-bottom: -3rem;
}

.about-main-text-icons-box span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 520px) {
    .about-main-text-icons-box span {
        text-align: center;       
    }
}

.about-main-text-icons-box .last-icon {
    width: 4rem;
}

.about-main-text-icons-box h4 {
    font-size: 50px;
    padding-bottom: 5rem;
}

/* BANNER STYLE */

.book-banner {
    display: flex;
    height: 14rem;
    background-image: url("/src/images/banner/book-banner.png");
    position: relative;
    margin-top: 7rem;
}

@media (max-width: 750px) {
    .book-banner {
        height: fit-content;
        padding: 1rem 0;
    }
}

.book-banner-overlay {
    background-color: #2d2d2d;
    opacity: .89;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.text-content {
    color: white;
    z-index: 5;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 7rem;
    gap: 10rem;
}

@media (max-width: 750px) {
    .text-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        margin-left: 0;
    }

   
}

.text-content h2 {
    font-size: 3.4rem;
}

.text-content span {
    display: flex;
    font-size: 3rem;
    gap: 1rem;
    align-items: center;
    color: #ff4d30;
    
}