.models-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    align-items: center;
    text-align: center;
    padding: 10rem 0;
    width: 100%;
}

@media screen and (max-width: 1420px) {
    .models-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 920px) {
    .models-div {
        display: grid;
        grid-template-columns: 1fr;
    }
}



.models-div-box {
    border: 1px solid #d5d5d5;
    border-radius: .3rem;
    display: flex;
    width: 27rem;
    flex-direction: column;
}

@media screen and (max-width: 920px) {
    .models-div-box {
        margin: auto;
    }
}

@media screen and (max-width: 460px) {
    .models-div-box {
        width: 100%;
    }
}

.models-div-box-img {
    width: 100%;
    height: auto;
    border-radius: .3rem;
}

.models-div-box-img img {
    width: 100%;
    height: 22rem;
}

@media screen and (max-width: 460px) {
    .models-div-box-img img {
        height: auto;
    }
}

.models-div-box-descr {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
}

.models-div-box-descr-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.models-div-box-descr-name-price-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5rem;
}

.models-div-box-descr-name-price-name p {
    font-size: 25px;
    font-weight: 700;
}

.models-div-box-descr-name-price-name span {
    display: flex;
    gap: .4rem;
}

.models-div-box-descr-name-price-price {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.models-div-box-descr-name-price-price h4 {
    font-size: 35px;
}

.models-div-box-descr-name-price-btn {
    background-color: #ff4d30;
    padding: 1rem 2.5rem;
    border-radius: .3rem;
    box-shadow: 0 10px 15px 0 rgb(255, 83, 48, 60%);
    transition: all .3s;
    border: 2px solid #ff4d30;
    font-size: 1.8rem;
    cursor: pointer;
}

.models-div-box-descr-name-price-btn a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

