.choose-section {
    background-color: white;
    padding: 2rem 0 10rem 0;
}

.choose-container {
    display: flex;
    flex-direction: column;
}

.choose-container__img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .choose-container__img {
      width: 100%;
    }
}

.text-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
   
}

@media screen and (max-width: 1000px) {
    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5.5rem;
    }
}

.text-container__left {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}

@media screen and (max-width: 1000px) {
    .text-container__left {
        align-items: center;
        text-align: center;
    }
}

.text-container__left h4 {
    font-size: 25px;
    margin-bottom: .7rem;
    font-weight: 600;
}

.text-container__left h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.text-container__left p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
    margin-bottom: 3.3rem;
}

.text-container__left a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #ff4d30;
    padding: 1.5rem 2.5rem;
    border-radius: .3rem;
    box-shadow: 0 10px 15px 0 rgb(255, 83, 48 / 35%);
    transition: all .3s;
    border: 2px solid rgb(242, 58, 58);
    width: fit-content;
}

.text-container__left a:hover {
    box-shadow: 0 10px 15px 0 rgb(255, 83, 48 / 60%);
    background-color: #fa4226;
}

.text-container__right {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    gap: 4.5rem;
}

.text-container__right__box {
    display: flex;
}

@media screen and (max-width: 550PX) {
    .text-container__right__box {
        flex-direction: column;
        align-items: center;
    }
}

.text-container__right img {
    width: 11rem;
    height: 11rem;
    margin-right: 1rem;
}

.text-container__right__box__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.text-container__right__box__text h4 {
    font-size: 27px;
}

.text-container__right__box__text p {
    font-size: 18px;
    color: gray;
    line-height: 1.3;
}
