.download-section {
    background-image: url("/src/images/download/bg-download.png");
    background-color: rgb(247, 247, 247);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 5rem;
}

@media screen and (max-width: 700px) {
    .download-section {
        background-image: none;
    }
}

.download-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 35rem;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .download-text {
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .download-text {
        text-align: center;
        margin: 0;
    }
}

.download-text h2 {
    font-size: 50px;
    color: black;
}

.download-text p {
    font-size: 18px;
    color: gray;
    line-height: 1.5;
}

.download-text__btns {
    display: flex;
    gap: 3rem;
    margin-top: 2rem
}

@media screen and (max-width: 700) {
    .download-text__btns {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .download-text__btns {
        flex-direction: column;
        align-items: center;
    }
}

.download-text-btns img {
    cursor: pointer;
    width: 40%;
}

@media screen and (max-width: 550px) {
    .download-text__btns img {
        width: 22rem;
    }
}